body {
    background: rgba(200,200,200,0.2);
}

.glyphicon.glyphicon-refresh {
    animation: throbberRotate linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: throbberRotate linear 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: throbberRotate linear 1s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: throbberRotate linear 1s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: throbberRotate linear 1s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #555 !important;
    position: relative;
    top: -5px;
    left: 5px;
    background: url(runner.png) no-repeat 3px 8px;
    padding-left: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.navbar-default .navbar-brand small {
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 60%;
    text-align: right;
    display: block;

}

#running {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#running .glyphicon {
    color: black;
    top: 2px;
}

body > .container {
    padding-top: 60px;
}

.container {
    width: auto;
    max-width: 720px;
    padding: 0 15px;
}

#noResults {
    text-align: center;
    margin-top: 3em;
}

#progress {
    margin: 0 auto;
    margin-top: 3em;
    min-width: 480px;
    max-width: 700px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}
#progress.fixed {
    position: fixed;
    margin-top: 1.5em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.4);
}
#progress * {
    cursor: default;
}
#progress .progress {
    clear: both;
}
.glyphicon-ok-circle {
    color: green;
}
.glyphicon-warning-sign {
    color: #EC971F;
}
.glyphicon-exclamation-sign {
    color: #C9302C;
}
#progress .progress-bar {
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -ms-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

h3 {
    margin-top: 10px !important;
}

#results {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
}
#results.dirty {
    opacity: 0.55;
}

.alert {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.well {
    padding: 10px 19px 0 19px;
}

.host h3 > .glyphicon-warning-sign {
    text-shadow: 0 0 1.5em rgba(236,151,31,0.8);
}
.host h3 > .glyphicon-exclamation-sign {
    text-shadow: 0 0 1.5em rgba(201,48,44,0.8);
}

.table-striped > thead > tr > td:nth-child(4),
.table-striped > thead > tr > td:nth-child(5) {
    text-align: center;
}
.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: rgba(100,100,100,0.1);
}
.table-striped > tbody > tr > td:nth-child(4),
.table-striped > tbody > tr > td:nth-child(5) {
    text-align: center;
}
.table-striped > tbody > tr:nth-child(odd) > td:first-child {
    border-bottom-left-radius: 4px;
}
.table-striped > tbody > tr:nth-child(odd) > td:last-child {
    border-bottom-right-radius: 4px;
}

.table-striped > tbody > tr > td > a {
    cursor: pointer;
}
.table-striped > tbody > tr > td > .glyphicon-question-sign {
    color: slategray;
}

#crack {
    display: none;
}


@keyframes throbberRotate{
    0% {
        transform:  rotate(0deg) ;
    }
    100% {
        transform:  rotate(360deg) ;
    }
}

@-moz-keyframes throbberRotate{
    0% {
        -moz-transform:  rotate(0deg) ;
    }
    100% {
        -moz-transform:  rotate(360deg) ;
    }
}

@-webkit-keyframes throbberRotate {
    0% {
        -webkit-transform:  rotate(0deg) ;
    }
    100% {
        -webkit-transform:  rotate(360deg) ;
    }
}

@-o-keyframes throbberRotate {
    0% {
        -o-transform:  rotate(0deg) ;
    }
    100% {
        -o-transform:  rotate(360deg) ;
    }
}

@-ms-keyframes throbberRotate {
    0% {
        -ms-transform:  rotate(0deg) ;
    }
    100% {
        -ms-transform:  rotate(360deg) ;
    }
}
